/vendor
/node_modules
/bootstrap/cache/
Homestead.yaml
Homestead.json
.env
.env.example
composer.lock
/storage/logs/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/app/public/*
/.idea
/administrator/tinymce

